* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  content: "";
  clear: both;
}

a {
  text-decoration: none;
}

/* -------- Header Section --------- */

.header-container {
  background-image: url("../images/header.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.color-on-header {
  position: absolute;
  background-color: rgba(1, 3, 4, 0.8);
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  font-family: Roboto, sans-serif;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.nav-logo {
  padding: 10px;
  color: rgb(255, 48, 91);
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  padding: 10px;
}

.nav-list ul {
  list-style-type: none;
}

.nav-list li {
  padding: 10px;
}

.nav-list ul li.special a {
  color: rgb(255, 48, 91);
}

.nav-list li a {
  text-decoration: none;
  color: rgb(224, 220, 210);
  font-size: 15px;
}

.nav-list li a:hover {
  color: rgb(255, 48, 91);
}

.header-content {
  width: 55%;
  text-align: center;
  /* background-color: aqua; */
  position: absolute;
  top: 36%;
  left: 22%;
  color: rgb(224, 220, 210);
}

.header-content .hello {
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 10px;
}

.header-content h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ff305b;
}

.header-content .brief {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}

/*-------------- --End Heder ----------*/

/*------------ Start about ---------*/

.about-container {
  margin: 90px 0;
  padding-top: 10px;
}

.about-container .info {
  overflow: hidden;
}

.left-info {
  width: 80%;
  margin: auto;
}

.img-border {
  margin: auto;
  width: 360px;
  height: 440px;
}

.img-div {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 440px;
  border-radius: 5px;
}

.img-div img {
  width: 100%;
  display: block;
}

.img-div .img-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.5s;
}

.img-div:hover .img-layer {
  transform: translateY(0%);
  background-color: rgba(0, 0, 0, 0.5);
}

.img-layer .img-layer-child {
  position: absolute;
  top: 47%;
  left: 100px;
}

.img-layer .img-layer-child i {
  margin-left: 15px;
  color: white;
}

.img-layer .img-layer-child i:hover {
  color: #ff305b;
}

.right-info {
  padding: 30px;
  float: left;
}

.right-info h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 34px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  position: relative;
  left: 15px;
}

.right-info h2::before {
  content: "";
  width: 5px;
  height: 80%;
  position: absolute;
  background-color: red;
  top: 2px;
  left: -15px;
}

.right-info p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 25px;
  color: rgb(85, 85, 85);
  padding: 20px 0;
  margin-top: 10px;
  border-bottom: 1px dashed gray;
}

.right-info ul {
  list-style-type: none;
}

.right-info ul li {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 25px;
  color: rgb(85, 85, 85);
}

.right-info ul li span {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

.right-info .about-links a {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 25px;
  color: white;
  display: inline-block;
  padding: 10px 24px 10px 24px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #ff305b;
  transition: background-color 0.4s;
}

.right-info .about-links a:hover {
  background-color: red;
}

.right-info .about-links a i {
  margin-left: 5px;
}

.special-about-link {
  margin-left: 20px;
}

/* -----------End about Section -  ----------------- */

/* ----------Start our services section ------------- */

.our-services-container {
  background-color: #f1f1f1;
  overflow: auto;
  padding: 50px 0;
}

.our-services-content {
  width: 90%;
  text-align: center;
  margin: auto;
  /* padding: 50px 0; */
}

.our-services-content .services-header {
  position: relative;
}

.our-services-content h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  color: rgb(51, 51, 51);
  position: relative;
}

.our-services-content h2::before {
  content: "";
  width: 150px;
  position: absolute;
  border-top: 1px solid #ff305b;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.our-services-content h2::after {
  content: "";
  width: 50px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #ff305b;
  border-top: 1px solid #ff305b;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.items {
  margin: 50px 0;
}

.items .item {
  /* width: 100%; */
  float: left;
  padding: 20px;
  transition: all 0.5s;
  /* margin-bottom: 50px; */
}

.items .item h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(51, 51, 51);
  margin: 20px 0;
}

.items .item .item-desc {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgb(85, 85, 85);
}

.items .item i {
  font-size: 36px;
  color: #ff305b;
  margin: 10px 0 20px;
  transition: all 0.5s;
}

.items .item:hover {
  background-color: white;
  border-radius: 5px;
}

.items .item:hover i {
  transform: scale(1.2);
}

/* ------------End our services section--------- */

/* ----------Portfolio section----------- */

.portfolio-container {
  margin-top: 100px;
  /* height: 200px; */
}

.portfolio-container .portfolio-content {
  width: 85%;
  margin: auto;
}

.portfolio-content-header {
  text-align: center;
  width: 90%;
  margin: auto;
}

.portfolio-content-header .title {
  /* background-color: brown; */
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  color: rgb(51, 51, 51);
  position: relative;
}

.portfolio-content-header .title h2::before {
  content: "";
  width: 150px;
  position: absolute;
  border-top: 1px solid #ff305b;
  top: 108%;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio-content-header .title h2::after {
  content: "";
  width: 50px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #ff305b;
  border-top: 1px solid #ff305b;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio-content-header .options {
  margin: 30px auto;
  font-size: 14px;
}

.portfolio-content-header .options ul {
  list-style-type: none;
  overflow: auto;
}

.options ul li {
  float: left;
  text-align: center;
  width: 25%;
}

.options ul li a {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 25px;
  color: rgb(85, 85, 85);
  text-decoration: none;
}

.options ul li.special a {
  color: rgb(255, 48, 91);
}

.portfolio-content .Portfolio-items {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.portfolio-content .Portfolio-items .item a {
  position: relative;
  display: block;
}

.portfolio-content .Portfolio-items .item img {
  width: 100%;
  display: block;
}

.portfolio-img-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.portfolio-img-layer:hover {
  opacity: 1;
}

.portfolio-img-layer i {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 16px;
  color: #ff305b;
}

/* -------------End portfolio Section ------------------ */

/* ------------Start Statistics Section --------------- */

.statistics-container {
  margin: 100px 0;
  padding: 70px 80px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.stat-content {
  margin: auto;
  width: 100%;
}

.stat-info {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
  float: left;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(51, 51, 51);
}

.stat-info h2 {
  margin: 15px 0;
}

.stat-info i {
  font-size: 26px;
  color: #ff305b;
}

.stat-info p {
  color: rgb(85, 85, 85);
  font-size: 15px;
  font-weight: 600;
}

/* ------------ End Statistics Section --------------- */

/* -------- Start feedback Section --------------- */

.global-feedback-container {
  margin-bottom: 150px;
}

.card-container {
  padding: 30px;
  position: relative;
}

.card-container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 52%;
  top: 95%;
  background-color: transparent;
  border: 1px solid #ff305b;
  border-radius: 50%;
}

.card-container::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 8px;
  left: 50%;
  top: 96%;
  transform: translateX(-90%);
  background-color: #ff305b;
  border-radius: 20px;
}

.feedback-section-header {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.feedback-section-header .title {
  /* background-color: brown; */
  padding: 0 0 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  color: rgb(51, 51, 51);
  position: relative;
  text-align: center;
}

.feedback-section-header .title h2::before {
  content: "";
  width: 150px;
  position: absolute;
  border-top: 1px solid #ff305b;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.feedback-section-header .title h2::after {
  content: "";
  width: 50px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #ff305b;
  border-top: 1px solid #ff305b;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  background-color: #f1f1f1;
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid #ff305b;
  border-bottom: 150px solid transparent;
  border-top-left-radius: 10px;
}

.img-container {
  width: 100px;
  height: 100px;
  margin: auto;
  background-image: url("./../images/feedback.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 80px;
  position: relative;
}

.card .card-text {
  text-align: left;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-style: italic;
  color: rgb(85, 85, 85);
  position: relative;
}

.card .card-text h2 {
  color: rgb(51, 51, 51);
}

.card-text .spot {
  display: inline-block;
  margin: 10px 5px;
}

.rating {
  display: inline-block;
  color: #f1c30d;
  margin: 10px 0;
}

/* -------- End feedback Section --------------- */

/* ---------- Our blog Section ---------- */

.blog-container {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.blog-container .blog-content {
  text-align: center;
  /* background-color: teal; */
}

.blog-container .blog-content h2 {
  padding: 10px;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  color: rgb(51, 51, 51);
  position: relative;
  margin-bottom: 40px;
}

.blog-container .blog-content h2::before {
  content: "";
  width: 150px;
  position: absolute;
  border-top: 1px solid #ff305b;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.blog-container .blog-content h2::after {
  content: "";
  width: 50px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #ff305b;
  border-top: 1px solid #ff305b;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.blog-container .blog-content .blog-items .item {
  padding: 15px;
  /* background-color: bisque; */
  float: left;
}

.blog-container .blog-content .blog-items .item img {
  width: 100%;
  display: block;
}

.blog-container .blog-content .blog-items .item .video {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
}

.post {
  text-align: left;
  padding: 10px;
  background-color: white;
}

.post h3 a {
  font-weight: 500;
}

.post p {
  margin: 15px 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgb(85, 85, 85);
}

.post a {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  text-decoration: none;
  transition: all 0.4s;
}

.post a:hover {
  color: #ff305b;
}

.read-more {
  margin-bottom: 10px;
}

.read-more .read-more-link {
  font-size: 16px;
}

/* ------- End blog sectiopn --------- */

/* ---------- Start contact us section ------------ */

.contact-container {
  text-align: center;
  margin: 100px 0;
}

.contact-container .contact-content h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  color: rgb(51, 51, 51);
  position: relative;
  margin-bottom: 40px;
  /* background-color: #f1c30d; */
}

.contact-container .contact-content h2 {
  padding: 10px;
  position: relative;
}

.contact-container .contact-content h2::before {
  content: "";
  width: 150px;
  position: absolute;
  border-top: 1px solid #ff305b;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.contact-container .contact-content h2::after {
  content: "";
  width: 50px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #ff305b;
  border-top: 1px solid #ff305b;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form form {
  margin: auto;
  width: 90%;
  font-family: Roboto, sans-serif;
}

.form form input {
  margin: 20px 0 0;
  padding: 10px;
  border: 0.5px solid rgba(85, 85, 85, 0.3);
  border-radius: 5px;
  transition: all 0.2s;
  outline: none;
}

input[type="text"]:focus {
  border: 1px solid red;
}

input[type="email"]:focus {
  border: 1px solid red;
}

form .left-input {
  width: 100%;
  /* float: left; */
}

form .right-input {
  width: 100%;
  /* float: right; */
}

form .special-input {
  margin: 20px 0 0;
  width: 100%;
  display: block;
}

.form form textarea {
  font-family: Roboto, sans-serif;
  padding: 10px;
  border: 0.5px solid rgba(85, 85, 85, 0.3);
  border-radius: 5px;
  transition: all 0.2s;
  outline: none;
}

.form form textarea:focus {
  border: 1px solid red;
}

.form form .btn {
  float: left;
  color: white;
  background-color: #ff305b;
  transition: all 0.4s;
}

.form form .btn:hover {
  background-color: red;
}

/* ---------- End contact us section ------------ */

/* -------Footer ---------------- */

footer {
  text-align: center;
  background-color: #333;
  padding: 70px 0 50px 0;
  color: white;
  font-family: Roboto, sans-serif;
}

.social-media a {
  color: white;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #ff305b;
}

footer p {
  margin: 20px 0;
}

span a {
  color: #ff305b;
  text-decoration: none;
}

span a:hover {
  text-decoration: underline;
}

/* ------- END Footer ---------------- */
